{% extends 'adminbase.html' %}
{% block admin %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <center>
        <form action="{% url 'coursesearchurl' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="course wise" name="word">
            <input type="submit" value="search" class="btn btn-primary">
          </form>
          </div>
        </form>
    </center>
    <div class="row">
        <!-- <div class="col-sm-4">
            <h3 class="text-center alert alert-warning">MODELFORM</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    {{form.as_p}}
                   <input type="submit"  class="btn btn alert-success" value="save">
                </div>
            </form>
            <div class="alert-success">
                {% for message in messages %}
                    <strong>{{message}}</strong>
                {% endfor %}
            </div>
        </div> -->
        <div class="col-sm-7 offset-1">
            <h3 class="text-center alerrt alert-success">Enrolled students</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>PhoneNumber</th>
                        <th>Course</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{obj.name}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.phone_number}}</td>
                        <td>{{obj.course}}</td>
                        <td>
                            <form action="{% url 'demoattendurl' obj.id %}" method="POST">
                              {% csrf_token %}
                              <button  class="btn btn-primary" type="submit" >Move</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>
{% endblock admin %}
